Repository brainstormforce/ultimate-addons-for-gutenberg, pull requests merged in 2022-12, with the labels that each got.

#2527 Merge: Spectra 2.1 Changelog and Image Gallery Minor Updates
  README.md
  includes/blocks/image-gallery/attributes.php
  includes/blocks/image-gallery/block.php
  includes/blocks/image-gallery/frontend.css.php
  includes/blocks/image-gallery/frontend.js.php
  readme.txt
Labels: php

#2567 SPCTR-2039: Added Block Prioritization, Preview and Icon for Modal
  admin-core/assets/build/dashboard-app-rtl.css
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.css
  admin-core/assets/build/dashboard-app.js
  admin-core/assets/src/common/block-icons.js
  admin-core/assets/src/common/common.scss
  assets/images/block-previews/modal.svg
  blocks-config/uagb-controls/block-icons.js
  classes/class-spectra-block-prioritization.php
  dist/blocks.asset.php
  dist/blocks.js
  dist/blocks.style.css
  dist/common-editor.css
  dist/style-blocks.css
  package-lock.json
  src/blocks.js
  src/blocks/modal/attributes.js
  src/blocks/modal/block.js
  src/blocks/modal/edit.js
  src/common-editor.scss
Labels: php, javascript, css, admin, editor

#2556 SPCTR-2038: Added Block Prioritization, Preview and Icon for Slider and Slider Child
  admin-core/assets/build/dashboard-app-rtl.css
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.css
  admin-core/assets/build/dashboard-app.js
  admin-core/assets/src/common/block-icons.js
  admin-core/assets/src/common/common.scss
  assets/images/block-previews/children/slider-child.svg
  assets/images/block-previews/slider.svg
  blocks-config/uagb-controls/block-icons.js
  classes/class-spectra-block-prioritization.php
  dist/blocks.asset.php
  dist/blocks.js
  dist/common-editor.css
  includes/blocks/slider/block.php
  package-lock.json
  src/blocks.js
  src/blocks/slider-child/block.js
  src/blocks/slider-child/edit.js
  src/blocks/slider/edit.js
  src/common-editor.scss
Labels: php, javascript, css, admin, editor

#2549 SPCTR-2003 Counter: Bar Layout - Flip/swap title and bar positions
  README.md
  assets/css/blocks/counter.css
  dist/blocks.asset.php
  dist/blocks.js
  dist/blocks.style.css
  dist/style-blocks.css
  includes/blocks/counter/attributes.php
  includes/blocks/counter/frontend.css.php
  readme.txt
  src/blocks/counter/attributes.js
  src/blocks/counter/settings.js
  src/blocks/counter/style.scss
  src/blocks/counter/styling.js
Labels: enhancement
