Repository brainstormforce/ultimate-addons-for-gutenberg, pull requests merged in 2022-08, with the labels that each got.

#2000 SPCTR-1469 Color Picker wouldn't update on using palette colors in Blocksy theme
  blocks-config/uagb-controls/maybeGetColorForVariable.js
  dist/blocks.asset.php
  dist/blocks.js
Labels: bug, javascript

#1996 SPCTR-1466 - New: Popup Update Indicator
  dist/blocks.asset.php
  dist/blocks.js
  dist/chunks/advanced-heading/settings.js
  dist/chunks/blockquote/settings.js
  dist/chunks/buttons-child/settings.js
  dist/chunks/buttons/settings.js
  dist/chunks/call-to-action/settings.js
  dist/chunks/cf7-styler/settings.js
  dist/chunks/column/settings.js
  dist/chunks/columns/settings.js
  dist/chunks/container/settings.js
  dist/chunks/content-timeline-child/render.js
  dist/chunks/content-timeline/settings.js
  dist/chunks/faq/settings.js
  dist/chunks/form/date-settings.js
  dist/chunks/form/email-settings.js
  dist/chunks/form/name-settings.js
  dist/chunks/form/phone-settings.js
  dist/chunks/form/settings.js
  dist/chunks/form/textarea-settings.js
  dist/chunks/form/url-settings.js
  dist/chunks/gf-styler/settings.js
  dist/chunks/google-map/settings.js
  dist/chunks/how-to/settings.js
  dist/chunks/how-to/step-settings.js
  dist/chunks/icon-list/settings.js
  dist/chunks/image/settings.js
  dist/chunks/info-box/settings.js
  dist/chunks/inline-notice/settings.js
  dist/chunks/lottie/settings.js
  dist/chunks/marketing-button/settings.js
  dist/chunks/post-grid/settings.js
  dist/chunks/post-timeline/render.js
  dist/chunks/post-timeline/settings.js
  dist/chunks/price-list/settings.js
  dist/chunks/review/settings.js
  dist/chunks/section/settings.js
  dist/chunks/social-share-child/settings.js
  dist/chunks/social-share/settings.js
  dist/chunks/star-rating/settings.js
  dist/chunks/table-of-contents/settings.js
  dist/chunks/tabs/settings.js
  dist/chunks/taxonomy-list/settings.js
  dist/chunks/team/settings.js
  dist/chunks/testimonial/settings.js
  dist/chunks/wp-search/settings.js
  dist/common-editor.css
  src/components/box-shadow/index.js
  src/components/text-shadow/index.js
  src/components/typography/font-typography.js
  src/components/typography/index.js
  src/styles/control-popup.scss
Labels: javascript, css

#1987 SPCTR-1465 - Fix: ToC Collapsible Errors
  assets/js/table-of-contents.js
  assets/js/table-of-contents.min.js
  blocks-config/table-of-content/class-uagb-table-of-content.php
  dist/chunks/table-of-contents/render.js
  src/blocks/table-of-contents/render.js
Labels: javascript

#2007 SPCTR-1482 Container - Default gradient background seems different on frontend
  dist/blocks.asset.php
  dist/blocks.js
  includes/blocks/container/attributes.php
  src/blocks/container/attributes.js
Labels: bug, php, javascript

#1993 SPCTR-1068: Image Block - Fixed default object fit behavior
  dist/blocks.asset.php
  dist/blocks.js
  dist/chunks/image/settings.js
  includes/blocks/image/attributes.php
  src/blocks/image/attributes.js
  src/blocks/image/settings.js
Labels: bug, php, javascript

#2010 SPCTR-1491: Fixed Gradient Icon Size
  blocks-config/uagb-controls/block-icons.js
  dist/blocks.asset.php
  dist/blocks.js
Labels: javascript

#2015 SPCTR-1500: Updated 3 Column Inner Container Widths
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/container/variations.js
Labels: javascript

#1985 SPCTR-1445 - Fix: Added All Font Awesome 6 Icon Defaults
  blocks-config/post-timeline/class-uagb-post-timeline.php
  blocks-config/table-of-content/class-uagb-table-of-content.php
  classes/class-uagb-helper.php
  dist/blocks.asset.php
  dist/blocks.js
  includes/blocks/faq/attributes.php
  includes/blocks/icon-list/attributes.php
  includes/blocks/info-box/attributes.php
  includes/blocks/inline-notice/attributes.php
  includes/blocks/marketing-button/attributes.php
  includes/blocks/social-share-child/attributes.php
  includes/blocks/social-share/attributes.php
  includes/blocks/table-of-contents/attributes.php
  src/blocks/faq-child/attributes.js
  src/blocks/faq/attributes.js
  src/blocks/icon-list/attributes.js
  src/blocks/info-box/attributes.js
  src/blocks/inline-notice/attributes.js
  src/blocks/marketing-button/attributes.js
  src/blocks/social-share-child/attributes.js
  src/blocks/social-share/attributes.js
  src/blocks/table-of-contents/attributes.js
  src/blocks/team/attributes.js
  src/blocks/timeline/content-timeline-child/attributes.js
  src/blocks/timeline/content-timeline/attributes.js
  src/blocks/timeline/post-timeline/attributes.js
Labels: php, javascript

#2016 SPCTR-1497 Global - Reordered Style settings as per priority set by design team
  dist/chunks/buttons-child/settings.js
  dist/chunks/taxonomy-list/settings.js
  dist/chunks/testimonial/settings.js
  dist/common-editor.css
  src/blocks/buttons-child/settings.js
  src/blocks/taxonomy-list/settings.js
  src/blocks/testimonial/settings.js
Labels: javascript, ux

#2035 SPCTR-1516: Updated All Input Control Container Field Background Borders
  dist/common-editor.css
  src/common-editor.scss
  src/styles/gutenberg-override.scss
Labels: css

#2027 SPCTR-1467 - Fix: Icon List Multi-line Top and Default Labels
  dist/blocks.asset.php
  dist/blocks.js
  dist/chunks/icon-list/settings.js
  includes/blocks/icon-list/attributes.php
  includes/blocks/icon-list/frontend.css.php
  src/blocks/icon-list-child/attributes.js
  src/blocks/icon-list/attributes.js
  src/blocks/icon-list/settings.js
  src/blocks/icon-list/styling.js
Labels: php, javascript

#2036 SPCTR-1512 Post Grid - Changed minimum value for Posts Per Page control
  dist/chunks/post-grid/settings.js
  src/blocks/post/post-grid/settings.js
Labels: bug, javascript

#2037 SPCTR-1529: Updated Text CTA Styling Layout in Infobox
  dist/chunks/info-box/settings.js
  src/blocks/info-box/settings.js
Labels: javascript

#2040 SPCTR-1538: Updated Company Name Placeholder Generation
  dist/chunks/testimonial/settings.js
  src/blocks/testimonial/settings.js
Labels: javascript

#2060 SPCTR-1574 Info Box - Fixed frontend padding mismatch (mobile) for Icon
  includes/blocks/info-box/frontend.css.php
Labels: bug, php

#2062 SPCTR-904 Icon List - Conditionally hide/show border radius control
  dist/chunks/icon-list/settings.js
  src/blocks/icon-list/settings.js
Labels: bug, javascript

#2051 SPCTR-1547 - Fix: FAQ Preset Border Color and Preset Padding Reset
  dist/blocks.asset.php
  dist/blocks.js
  dist/chunks/faq/settings.js
  includes/blocks/faq/attributes.php
  src/blocks/faq/attributes.js
  src/blocks/faq/edit.js
  src/blocks/faq/presets.js
  src/blocks/faq/settings.js
Labels: php, javascript

#2066 SPCTR-1572: Updated Range Numeric Field Alignment
  dist/blocks.asset.php
  dist/blocks.js
  src/components/range/editor.lazy.scss
Labels: javascript

#2070 SPCTR-1582 Social Share: Re-arranged Style Tab settings panel controls
  dist/chunks/social-share/settings.js
  src/blocks/social-share/settings.js
Labels: bug, ux

#2055 SPCTR-1479 Transform feature fixes for Advanced Column and Advanced Row
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/container/attributes.js
  src/blocks/container/transforms.js
Labels: javascript

#2075 SPCTR-1581 Price List Presets Fix- Presets overriding image data and columns
  dist/blocks.asset.php
  dist/blocks.js
  dist/chunks/price-list-child/render.js
  dist/chunks/price-list-child/settings.js
  dist/chunks/price-list/settings.js
  src/blocks/price-list-child/attributes.js
  src/blocks/price-list-child/render.js
  src/blocks/price-list-child/save.js
  src/blocks/price-list-child/settings.js
  src/blocks/price-list/attributes.js
  src/blocks/price-list/edit.js
  src/blocks/price-list/presets.js
  src/blocks/price-list/settings.js
Labels: bug, javascript

#2080 SPCTR-1589 Buttons (Child) Presets - Retain text and icon on changing presets
  dist/blocks.asset.php
  dist/blocks.js
  dist/chunks/buttons-child/render.js
  dist/chunks/buttons-child/settings.js
  src/blocks/buttons-child/attributes.js
  src/blocks/buttons-child/deprecated.js
  src/blocks/buttons-child/presets.js
  src/blocks/buttons-child/render.js
  src/blocks/buttons-child/save.js
  src/blocks/buttons-child/settings.js
Labels: bug, javascript

#2085 SPCTR-1601 Added 'Inter' font from Google Fonts
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.js
  blocks-config/uagb-controls/fonts.js
  dist/blocks.asset.php
  dist/blocks.js
Labels: ux

#2091 SPCTR-1603 - Fix: Updated Change Indicator for Popups
  dist/blocks.asset.php
  dist/blocks.js
  dist/chunks/advanced-heading/settings.js
  dist/chunks/buttons-child/settings.js
  dist/chunks/columns/settings.js
  dist/chunks/container/settings.js
  dist/chunks/image/settings.js
  dist/chunks/post-grid/settings.js
  dist/chunks/section/settings.js
  dist/chunks/taxonomy-list/settings.js
  dist/chunks/wp-search/settings.js
  dist/common-editor.css
  src/common-editor.scss
  src/components/box-shadow/index.js
  src/components/text-shadow/index.js
  src/components/typography/index.js
  src/styles/control-popup.scss
  src/styles/spectra-change-indicators.scss
Labels: javascript, css

#2104 SPCTR-1614 Info Box - Text CTA color when set, overrides Button CTA's Text color in the editor
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/info-box/styling.js
Labels: bug, javascript, editor

#2105 SPCTR-1622 - Fix: Responsive Admin Dashboard
  admin-core/assets/build/dashboard-app-rtl.css
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.css
  admin-core/assets/build/dashboard-app.js
  admin-core/assets/src/dashboard-app/pages/blocks/BlockCardsGroup.js
  admin-core/assets/src/dashboard-app/pages/blocks/Blocks.js
  admin-core/assets/src/dashboard-app/pages/blocks/FilterTabs.js
  admin-core/assets/src/dashboard-app/pages/settings/Settings.js
  admin-core/assets/src/dashboard-app/pages/welcome/Welcome.js
Labels: javascript, css

#2103 SPCTR-1609 Bug: image resize icon full not showing issue
  assets/css/blocks/image.css
  dist/blocks.asset.php
  dist/blocks.js
  dist/blocks.style.css
  dist/style-blocks.css
  includes/blocks/image/frontend.css.php
  src/blocks/image/style.scss
  src/blocks/image/styling.js
Labels: bug

#2107 SPCTR-1599 Icon List - Icons not visible when the block is added inside container
  dist/blocks.asset.php
  dist/blocks.js
  dist/chunks/icon-list-child/settings.js
  src/blocks/icon-list-child/attributes.js
  src/blocks/icon-list-child/edit.js
  src/blocks/icon-list-child/settings.js
  src/blocks/icon-list/edit.js
Labels: bug, javascript

#2114 SPCTR-1640 Info Box - Disabled CTA type complete box's link in the editor
  dist/blocks.style.css
  dist/chunks/info-box/render.js
  dist/style-blocks.css
  src/blocks/info-box/editor.lazy.scss
Labels: bug, css

#2113 SPCTR-1636 - Fix: Post Timeline CTA Colors and Editor Responsive Images.
  assets/css/blocks/timeline.css
  blocks-config/post-timeline/class-uagb-post-timeline.php
  dist/blocks.asset.php
  dist/blocks.js
  dist/blocks.style.css
  dist/chunks/post-timeline/render.js
  dist/style-blocks.css
  includes/blocks/post-timeline/attributes.php
  src/blocks/timeline/editor.lazy.scss
  src/blocks/timeline/post-timeline/attributes.js
  src/blocks/timeline/post-timeline/components/CtaLink.js
  src/blocks/timeline/style.scss
Labels: php, javascript, css

#2118 SPCTR-1647 Heading - Reorder/Rearrange typography components in Style settings
  dist/chunks/advanced-heading/settings.js
  src/blocks/advanced-heading/settings.js
Labels: javascript, ux, editor

#2117 SPCTR-1632: Updated Box Sizing of Entire Info Box
  assets/css/blocks/info-box.css
  dist/blocks.style.css
  dist/style-blocks.css
  src/blocks/info-box/style.scss
Labels: css

#2119 SPCTR-1649: Updated Heading Link and Highlight Colors
  dist/blocks.asset.php
  dist/blocks.js
  includes/blocks/advanced-heading/attributes.php
  src/blocks/advanced-heading/attributes.js
Labels: php, javascript

#2125 SPCTR-1648 Color Switch Control - Fixed inconsistent spacing between controls
  dist/chunks/advanced-heading/settings.js
  src/components/color-switch-control/editor.lazy.scss
Labels: bug, css, ux

#2127 SPCTR-1653 Marketing Button - Preset 2 has incorrect styling
  dist/chunks/marketing-button/settings.js
  src/blocks/marketing-button/presets.js
Labels: bug

#2128 SPCTR-1654 Taxonomy List - Fatal issue for editor and frontend warnings on deleting custom taxonomies used in the block
  blocks-config/taxonomy-list/class-uagb-taxonomy-list.php
Labels: bug, php

#2143 SPCTR-1666 Update admin dashboard Welcome video link
  README.md
  admin-core/assets/build/dashboard-app-rtl.css
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.css
  admin-core/assets/build/dashboard-app.js
  admin-core/assets/src/dashboard-app/pages/welcome/Welcome.js
  dist/blocks.style.css
  dist/style-blocks.css
  readme.txt
Labels: ux

#2145 Fix: Updated Admin Block Icons when Disabled
  README.md
  admin-core/assets/build/dashboard-app-rtl.css
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.css
  admin-core/assets/src/common/common.scss
  dist/blocks.style.css
  dist/style-blocks.css
  readme.txt
Labels: css

#2162 SPCTR-1675 Icon List - Fixed word wrapping and breaking behavior
  README.md
  assets/css/blocks/icon-list-child.css
  dist/blocks.style.css
  dist/style-blocks.css
  readme.txt
  src/blocks/icon-list-child/style.scss
Labels: bug, css

#2167 SPCTR-1683 Post blocks - Disable links in editor
  README.md
  dist/blocks.asset.php
  dist/blocks.js
  readme.txt
  src/blocks/post/post-button/edit.js
  src/blocks/post/post-button/editor.lazy.scss
Labels: bug, javascript, css, ux

#2173 SPCTR-1686 Container - Anchors were not working and anchor value wasn't saved
  README.md
  dist/blocks.asset.php
  dist/blocks.js
  readme.txt
  src/blocks/container/save.js
Labels: bug, javascript

#2194 SPCTR-1702 Post Blocks Read More Button - Background color leaking out of border radius on hover
  README.md
  classes/class-uagb-block-helper.php
  readme.txt
Labels: bug, php

#2205 SPCTR-1709 Responsive Editor Preview - Broken across different languages
  README.md
  dist/blocks.asset.php
  dist/blocks.js
  readme.txt
  src/components/responsive-icons/device-icons.js
  src/components/responsive-toggle/index.js
Labels: bug, editor

#2204 SPCTR-1708 Review: Star rating size gets smaller in editor when label text is long
  README.md
  dist/chunks/review/render.js
  readme.txt
  src/blocks/review/editor.lazy.scss
Labels: bug, editor

#2208 SPCTR-1713 Button Child - Default padding from UAGB v1.25.6 is not retained
  README.md
  dist/blocks.asset.php
  dist/blocks.js
  dist/blocks.style.css
  dist/style-blocks.css
  includes/blocks/buttons-child/attributes.php
  readme.txt
  src/blocks/buttons-child/attributes.js
Labels: bug, php, javascript

#2215 SPCTR-1661 - Improvement: Admin Block Filter UI
  README.md
  admin-core/assets/build/dashboard-app-rtl.css
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.css
  admin-core/assets/build/dashboard-app.js
  admin-core/assets/src/dashboard-app/pages/blocks/FilterTabs.js
  dist/blocks.style.css
  dist/style-blocks.css
  readme.txt
Labels: javascript

#2216 SPCTR-1704 CTA - Disable links in the editor
  README.md
  dist/blocks.asset.php
  dist/blocks.js
  readme.txt
  src/blocks/call-to-action/components/CallToActionNew.js
  src/blocks/call-to-action/components/SecondCTAButton.js
  src/blocks/call-to-action/render.js
Labels: bug, javascript, ux, editor

#2196 SPCTR-1583 - New: Added Block Inserter Legacy Labels
  README.md
  blocks-config/uagb-controls/block-icons.js
  dist/blocks.asset.php
  dist/blocks.js
  dist/blocks.style.css
  dist/common-editor.css
  dist/style-blocks.css
  readme.txt
  src/blocks/cf7-designer/block.js
  src/blocks/column/block.js
  src/blocks/columns/block.js
  src/blocks/gf-designer/block.js
  src/blocks/post/post-masonry/block.js
  src/blocks/section/block.js
  src/blocks/wp-search/block.js
  src/common-editor.scss
  src/styles/spectra-legacy.scss
Labels: javascript, css

#2219 SPCTR-1728 Post Carousel - Slider dots overlap on other blocks below
  README.md
  assets/css/blocks/post.css
  dist/blocks.style.css
  dist/style-blocks.css
  readme.txt
  src/blocks/post/style.scss
Labels: bug, css

#2229 SPCTR-1736 - Fix: Updated Font Awesome Admin Option Default
  README.md
  classes/class-uagb-helper.php
  dist/blocks.style.css
  dist/style-blocks.css
  readme.txt
Labels: php

#2234 SPCTR-1742 Post Blocks - Inaccurate font size is being displayed for tablet device preview (in editor)
  README.md
  dist/blocks.asset.php
  dist/blocks.js
  package-lock.json
  readme.txt
  src/blocks/post/styling.js
Labels: bug, javascript, editor

#2238 SPCTR-1743 Footer Widgets - CSS was not loading for empty archive/category and 404 pages.
  README.md
  classes/class-uagb-front-assets.php
  readme.txt
Labels: bug, php
