Repository brainstormforce/ultimate-addons-for-gutenberg, pull requests merged in 2023-08, with the labels that each got.

#3382 SPCTR-2826 - Improvement: Popup Builder - Added Hook for Pro Admin UI.
  blocks-config/popup-builder/class-uagb-popup-builder.php
  classes/class-uagb-init-blocks.php
Labels: php, admin, pro compatibility

#3388 Query monitoring issues typography fontsizetype
  classes/class-uagb-helper.php
  includes/blocks/info-box/frontend.css.php
Labels: bug

#3391 SPCTR-3219: Fix: Testimonial - Removed unwanted margin when testimonial has single column
  README.md
  assets/css/blocks/testimonial.css
  dist/blocks.style.css
  dist/style-blocks.css
  includes/blocks/testimonial/frontend.css.php
  readme.txt
  src/blocks/testimonial/style.scss
Labels: bug

#3399 Updated Changelog Entries for v2.7.4
  README.md
  readme.txt
Labels: ready-to-merge

#3405 SPCTR-3249: Added Document Links to Pro Blocks in the Admin Dashboard
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.js
  admin-core/assets/src/dashboard-app/pages/blocks/BlockCard.js
  admin-core/assets/src/dashboard-app/pages/blocks/DynamicContentExtension.js
Labels: php, javascript, ux, admin dashboard

#3432 SPCTR-3244: Added Key Revoking and Disabled Brand Voice if Key Doesn't Exist
  admin-core/assets/build/dashboard-app-rtl.css
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.css
  admin-core/assets/build/dashboard-app.js
  admin-core/assets/src/dashboard-app/pages/settings/spectra-ai-settings/sections/BrandVoice.js
  admin-core/assets/src/dashboard-app/pages/settings/spectra-ai-settings/sections/OpenAIKey.js
Labels: javascript, admin, ux

#3437 SPCTR-3289: Fixed Redux Sync between Brand Voice and Key
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.js
  admin-core/assets/src/dashboard-app/pages/settings/spectra-ai-settings/sections/BrandVoice.js
  admin-core/assets/src/dashboard-app/pages/settings/spectra-ai-settings/sections/OpenAIKey.js
Labels: javascript, admin, ux
