Repository brainstormforce/ultimate-addons-for-gutenberg, pull requests merged in 2023-06, with the labels that each got.

#3221 SPCTR-2957 - Hotfix: Post Carousel - Added Visibility Check for Carousels that Show Less Posts Per Page than Columns
  README.md
  blocks-config/post/class-uagb-post.php
  readme.txt
Labels: bug, php, javascript, frontend

#3237 SPCTR-2943 - Improvement: Admin Submenu Upgrade
  admin-core/assets/build/dashboard-app-rtl.css
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.css
  admin-core/assets/build/dashboard-app.js
  admin-core/assets/src/dashboard-app/SettingsRoute.js
  admin-core/inc/admin-menu.php
  admin/assets/spectra-submenu.css
  classes/class-uagb-admin.php
Labels: enhancement, php, javascript, admin, ux

#3195 SPCTR-2921 Countdown - Hide and Redirect - Expiry options should work without manual refresh
  assets/js/uagb-countdown.js
  assets/js/uagb-countdown.min.js
  includes/blocks/countdown/attributes.php
Labels: ux

#3250 SPCTR-2979: Updated Pro Redirection Link
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.js
  admin-core/assets/src/dashboard-app/PluginStats.js
Labels: bug, ready-to-merge, javascript, admin

#3259 Rearranged Changelog Entries for v2.6.6
  README.md
  readme.txt
Labels: ready-to-merge

#3285 SPCTR-3042: Added Filter for Spectra Pro Render Block Manipulation
  classes/class-uagb-init-blocks.php
Labels: bug, php, javascript, editor, frontend

#3298 SPCTR-3008: Added Reset Query after Loop and Updated Popup Shortcode Generation Action
  README.md
  blocks-config/popup-builder/class-uagb-popup-builder.php
  readme.txt
Labels: bug, php, frontend
