Repository brainstormforce/ultimate-addons-for-gutenberg, pull requests merged in 2023-10, with the labels that each got.

#3386 Spctr 3070 spectra maintenance mode settings
  README.md
  admin-core/ajax/common-settings.php
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.js
  admin-core/assets/src/dashboard-app/pages/settings/ComingSoon.js
  admin-core/assets/src/dashboard-app/pages/settings/Settings.js
  admin-core/assets/src/dashboard-app/pages/settings/SettingsIcons.js
  admin-core/assets/src/dashboard-app/pages/settings/Visibility.js
  admin-core/assets/src/store/globalDataReducer.js
  admin-core/assets/src/store/globalDataStore.js
  admin-core/assets/src/utils/setInitialState.js
  admin-core/inc/admin-helper.php
  assets/css/visibility.css
  assets/css/visibility.min.css
  classes/class-uagb-admin-helper.php
  classes/class-uagb-coming-soon.php
  classes/class-uagb-loader.php
  classes/class-uagb-update.php
  classes/class-uagb-visibility.php
  phpstan-baseline.neon
  readme.txt
  templates/visibility-template.php
  tests/php/stubs/uagb-stubs.php
Labels: enhancement, php, javascript, admin dashboard

#3534 SPCTR-3431 - Sticky Container: Stabilized Animations
  assets/js/spectra-animations.js
  assets/js/spectra-animations.min.js
  assets/js/spectra-block-positioning.js
  assets/js/spectra-block-positioning.min.js
  classes/class-uagb-init-blocks.php
  includes/blocks/container/frontend.js.php
Labels: bug, php, javascript, frontend

#3490 SPCTR-3302: Fix - Lottie alignment issue in twenty twenty three theme
  README.md
  blocks-config/lottie/class-uagb-lottie.php
  includes/blocks/lottie/frontend.css.php
  readme.txt
Labels: bug

#3544 Spctr 3433 spec authorization
  .eslintrc.js
  admin-core/ajax/common-settings.php
  admin-core/assets/build/dashboard-app-rtl.css
  admin-core/assets/build/dashboard-app.asset.php
  admin-core/assets/build/dashboard-app.css
  admin-core/assets/build/dashboard-app.js
  admin-core/assets/src/dashboard-app/pages/blocks/AiExtension.js
  admin-core/assets/src/dashboard-app/pages/blocks/Extensions.js
  admin-core/assets/src/dashboard-app/pages/settings/Settings.js
  admin-core/assets/src/dashboard-app/pages/settings/spectra-ai-settings/SpectraAISettings.js
  admin-core/assets/src/dashboard-app/pages/settings/spectra-ai-settings/sections/SCSAuthorization.js
  admin-core/assets/src/store/globalDataReducer.js
  admin-core/assets/src/store/globalDataStore.js
  admin-core/assets/src/utils/setInitialState.js
  admin-core/inc/admin-helper.php
  admin-core/inc/admin-menu.php
  classes/class-uagb-admin.php
  ultimate-addons-for-gutenberg.php
Labels: enhancement, php, javascript, admin, ux, pro compatibility

#3530 SPCTR-3327: Fix - Core Social share alignment issue inside container.
  README.md
  assets/css/blocks/container.css
  dist/blocks.style.css
  dist/style-blocks.css
  readme.txt
  src/blocks/container/style.scss
Labels: bug

#3545 SPCTR-3430: Fix - Image Gallery custom URL validation issue
  README.md
  assets/js/image-gallery.js
  assets/js/image-gallery.min.js
  readme.txt
Labels: bug

#3304 Release template
  .github/workflows/release-pr-template.yml
Labels: Release PR
